@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Metropolis';
    font-weight: 400;
    font-weight: normal;
    src: url('../public/fonts/Metropolis-Regular.woff') format('woff');
  }
  @font-face {
    font-family: 'Metropolis';
    font-weight: 700;
    font-style: bold;
    src: url('../public/fonts/Metropolis-Bold.woff') format('woff');
  }
  @font-face {
    font-family: 'Metropolis';
    font-weight: 900;
    font-style: black;
    src: url('../public/fonts/Metropolis-Black.woff') format('woff');
  }
}

* {
  font-family: Metropolis, sans-serif;
  color: #333232;
}
.h_line {
  height: 10px;
  background-color: #0be048;
}

nav a.active {
  border-bottom: solid 3px #0be048;
}
